/* Meal */
.food-list {
  min-width: 250px;
  max-height: 300px;
  height: 100%;
  overflow: auto;
  background-color: rgba(225, 255, 0, 0.104);
  border: 2px solid red;
  border-radius: 0.8em;
  padding: 0px;
}
